$gray: #929292;
$blue: #189bd3;
$green: #43865e;
$green-light: #a8d7b8;
$violet: #5f3bb9;
$violet-light: #b9a8e8;
$white: #fff;
$yellow: #f9d71c;
$orange: #e78422;
$black: rgba(0, 0, 0, 0.8);
$error: rgb(4, 4, 4);
$grass: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
$fire: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
$water: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
$bug: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
$bg: linear-gradient(
  to right,
  #eea2a2 0%,
  #bbc1bf 19%,
  #57c6e1 42%,
  #b49fda 79%,
  #7ac5d8 100%
);
